.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: cadetblue;
}

main {
  flex-grow: 8;
  background-color: coral;
}

footer {
  flex-grow: 1;
  background-color: khaki;
}
