@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap');

.header {
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px #ff0000;
    font-family: 'Permanent Marker', cursive;
}

.header img {
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    -webkit-filter: drop-shadow(1px 1px 1px #454545);
    filter: drop-shadow(1px 1px 1px #454545);
    transition: .3s;
}

.header img:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 2px 2px #454545);
    filter: drop-shadow(2px 2px 2px #454545);
}

.header button {
    position: absolute;
    right: 10px;
    top: 10px;
}