.header {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  font-family: "Montserrat Alternates", cursive;
}

.logo-img {
  width: 100px;
  height: auto;
  margin-top: 20px;
  margin-left: 30px;
  float: left;
  -webkit-filter: drop-shadow(1px 1px 1px #454545);
  filter: drop-shadow(1px 1px 1px #454545);
  transition: 0.3s;
}

.logo-img {
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 2px #454545);
  filter: drop-shadow(2px 2px 2px #454545);
}

.cart-button-quantity {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}

.cart-button-quantity button {
  text-align: center;
  border: 1px solid #777777;
  background-color: #dedede;
  border-radius: 40px;
  font-family: "Montserrat Alternates", sans-serif;
  transition: .5s;
}

.cart-button-quantity button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.cart-button-quantity button img {
  height: 30px;
  width: auto;
  padding: 10px;
}

.cart-button-quantity span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 10px;
    color: #f4f4f4;
    background-color: #f5ad42;
    width: 35px;
    height: 35px;
    border-radius: 40px;
}