.pizzaList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0px;
}

.loader {
    grid-column: span 2;
}

.sauceList {
    padding: 0px;
}

.loader {
    align-self: center;
    justify-self: center;
}

.menu h3 {
    margin-top: 35px;
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
}

.menu img {
    float: right;
}

.menu button {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    display: block;
    border: 3px solid #262625;
    border-radius: 5px;
}

.menu button:hover {
    cursor: pointer;
}