.pizzaList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
}

.sauceList {
    padding: 0px;
}

.menu h3 {
    margin-top: 35px;
    font-size: 35px;
    font-style: italic;
    text-decoration: underline;
}

.menu img {
    float: right;
}

.menu button {
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    display: block;
    border: 3px solid #262625;
    border-radius: 5px;
}

.menu button:hover {
    cursor: pointer;
}