.pizza {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    text-align: left;
    margin-top: 50px;
    max-width: 300px;
    min-height: 500px;
    box-shadow: 5px 5px 45px 10px #777776;
}

.pizza:nth-child(3n - 2) {
    justify-self: end;
}

.pizza:nth-child(3n + 3) {
    justify-self: start;
}

.pizza:nth-child(n + 4) {
    margin-top: 100px;
}

.pizzaInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.pizzaInfo ul {
    display: inline;
    list-style: none;
    padding: 0;
    text-align: center;
    color: #585858
}

.order-button {
    margin: 0 auto;
    margin-bottom: 20px !important;
    padding: 10px;
    display: block;
    border: 1px solid #777777;
    background-color: #dedede;
    border-radius: 5px;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: background-color .5s;
}

.order-button:hover {
    background-color:#78d14e;
    background-image:linear-gradient(to right, #ffffff00 0%, #ffffff00 40%, #ffffffb3 100%);
    background-repeat:no-repeat;
    background-size: 200% 100%; 
    transition:background-size 1s, background-color 1s;
    cursor: pointer;
}

.pizzaImage {
    margin-top: -50px;
    width: 100%;
}
