.popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 100px;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 45px 10px #ec1f26;
}
