.sauce {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    text-align: left;
    margin-bottom: 100px;
    max-width: 250px;
    min-height: 400px;
    box-shadow: 5px 5px 45px 10px #777776;
}

.sauce:nth-child(3n - 2) {
    justify-self: end;
}

.sauce:nth-child(3n + 3) {
    justify-self: start;
}

.sauceInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.sauceImage {
    width: 100%;
    transform: scale(0.75);
}