.shoppingCart {
  position: fixed;
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  min-width: 300px;
  height: 400px;
  right: 0;
  font-family: "Montserrat Alternates", Courier, monospace;
  font-size: 15px;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 45px 10px #777776;
}

.cart-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  border-bottom: 2px solid #aaadb1;
}

.cart-header button {
  all: unset;
  margin-right: 15px;
}

.cart-header h3 {
  margin-left: 15px;
}

.cart-header button:hover {
  cursor: pointer;
}

.cart-content {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow: auto;
  margin-left: 10px;
}

.cart-pizza-item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  margin-left: 5px;
  margin-right: 10px;
}

.cart-pizza-item p {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: flex-start;
}

.cart-pizza-item div {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.cart-pizza-item span {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: flex-end;
}

.cart-sauce-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 10px;
}

.cart-sauce-item div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80px;
}

.cart-sauce-item div > span {
  display: flex;
  align-items: center;
}

.cart-sauce-item div > button {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 10px;
  background-color: #f5ad42;
}

.cart-sauce-item div > button:hover {
  cursor: pointer;
}

.order {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  padding-left: 50px;
  padding-right: 50px;
  border-top: 2px solid #aaadb1;
}

.order h4 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.order p {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.order div {
  grid-column: 2 / 3;
  grid-row: span 2;
  align-self: center;
}
