.shoppingCart {
    position: fixed;
    text-align: left;
    min-width: 250px;
    top: 10px;
    right: 10px;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: cornflowerblue;
}

.shoppingCart h3 {
    margin: 10px;
    margin-right: 20px;
}

.closeButton {
    top: 5px;
    right: 5px;
}

.cartItem {
    position: relative;
}

.addition {
    display: block;
}

.subtraction {
    display: block;
    left: 200px;
}